.teste{
  display:table;
}

.geral{
  justify-content: center;
}

.timage{
  width: 60%;
}

section{
  width: 40%;
}

.pd-right-form{
  padding-right: 7.5px;
}

.pd-left-form{
  padding-left: 7.5px;
}
